<form class="add-subtask-form">
    <label for="title">Title:</label>
    <input #title type="text" id="title" name="title" required>
    <button type="button" (click)="addSubtask(title.value); title.value = ''">Add subtask</button>
</form>

@if(subtasks$ | async; as subtasks){
    <ul>
    @for (subtask of subtasks; track subtask.subtaskId) {
        <li>
            @if (editingSubtaskId === subtask.subtaskId) {
                <form class="edit-subtask-form" (ngSubmit)="saveSubtask(subtask)">
                    <input type="text" name="editedTitle" [(ngModel)]="editedTitle" required >
                    <div class="subtask-actions">
                        <button class="btn-edit" type="submit">Save</button>
                        <button class="btn-delete" type="button" (click)="cancelEdit()">Cancel</button>
                    </div>
                </form>
            } @else {
                <label class="subtask-title">
                    <input type="checkbox" #completedCheckbox [checked]="subtask.completed" (change)="toggleSubtaskCompleted(subtask, completedCheckbox.checked)" >
                    {{ subtask.title }}
                </label>
                <div class="subtask-actions">
                    <button class="btn-edit" type="button" (click)="editSubtask(subtask)">Edit</button>
                    <button class="btn-delete" type="button" (click)="deleteSubtask(subtask)">Delete</button>
                </div>
            }
        </li>
    } 
    </ul>
}
