<p>subtask works!</p>
<p>todo works!</p>

<form>
    <label for="title">Title:</label>
    <input #title type="text" id="title" name="title" required>
    <button type="button" (click)="addSubtask(title.value); title.value = ''">Add subtask</button>
</form>

@if(this.subtaskService.subtask$ | async; as subtasks){
    <ul>
    @for (subtask of subtasks; track subtask.subtaskId) {
        <li>
            @if (editingSubtaskId === subtask.subtaskId) {
                <form (ngSubmit)="saveSubtask(subtask)">
                    <input type="text" name="editedTitle" [(ngModel)]="editedTitle" required >
                    <button type="submit">Save</button>
                    <button type="button" (click)="cancelEdit()">Cancel</button>
                </form>
            } @else {
                <input type="checkbox" #completedCheckbox [checked]="subtask.completed" (change)="toggleSubtaskCompleted(subtask, completedCheckbox.checked)" >
                {{ subtask.title }}
                <button type="button" (click)="editSubtask(subtask)">Edit</button>
                <button type="button" (click)="deleteSubtask(subtask)">Delete</button>
            }
        </li>
    } @empty {
        <li>No items found in the list.</li>
    }
    </ul>
}